@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  line-height: 2rem;
}

button {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;
}

button:hover {
  text-decoration: underline;
}

button.active {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.header {
  width: 100%;
  margin: 0 auto;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px;
}

.logo {
  width: 50px;
  height: 50px;
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logo:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.container {
  width: calc(100% - 20px);
  max-width: 1440px;
  padding: 0px 20px;
  margin: 0 auto;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.nav__button {
  background: transparent;
  color: #fff;
  border: none;
  padding: 5px 15px;
}

.main {
  background-image: url(./assets/img/solovey.jpg);
  height: calc(100vh - 240px);
  background-size: cover;
  background-position: center;
  margin: auto;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player {
  background-image: url("./assets/svg/play.svg");
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: .3s;
  transition: .3s;
}

.player:hover {
  -webkit-filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
          filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

main.solovey {
  border-color: green;
}
/*# sourceMappingURL=style.css.map */