@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Merriweather:wght@700&display=swap");
// Variables

$bg_dark: #000000;
$gold: #bdae82;
$white: #ffffff;
$inter: "Inter", sans-serif;
$merriweather: "Merriweather", serif;

@mixin font1 {
  font-size: 20px;
  line-height: 50px;
}

@mixin font2 {
  font-size: 20px;
  line-height: 40px;

  @media (max-width: 1440px) {
    font-size: 20px;
    line-height: 24px;
  }
}
@mixin font3 {
  font-size: 18px;
  line-height: 36px;
}

@mixin font4 {
  font-size: 40px;
  line-height: 80px;
  @media (max-width: 1440px) {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin font5 {
  font-size: 28px;
  line-height: 56px;
}

@mixin font6 {
  font-size: 24px;
  line-height: 48px;
}

@mixin font7 {
  font-size: 60px;
  line-height: 120px;
  @media (max-width: 1440px) {
    font-size: 32px;
    line-height: 64px;
  }
}
//main elements style start
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $inter;
  background-color: $bg_dark;
  color: $white;
  font-weight: 400;
  @include font2();
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: $white;
}
a:hover {
  color: $gold;
  transition: 0.3s;
}
ul {
  list-style: none;
}

h1 {
  font-family: $merriweather;
  font-weight: 700;
  @include font7();
}

h2 {
  font-family: $merriweather;
  font-weight: 700;
  @include font4();
  line-height: 80px !important;
  text-align: center;
  background-color: $bg_dark;
  margin: 0 auto;
  padding: 0 20px;
  color: $gold;
}

button {
  border: 0;
  color: $bg_dark;
  background-color: $gold;
  font-size: 20px;
  font-family: $inter;
  text-align: center;
  line-height: 40px;
  width: 220px;
  height: 55px;
  &:hover {
    color: $white;
    cursor: pointer;
    transition: 0.4s;
  }
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
  @media (max-width: 1440px) {
    width: 768px;
  }
}

.section-title {
  background-image: linear-gradient(
    to top,
    #000 39px,
    #bdae82 39px,
    #bdae82 41px,
    #000 41px
  );
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @media (max-width: 1440px) {
    width: 364px;
  }
}
//main elements style end

//header start
.header {
  height: 90px;

  width: 100%;

  &__wrapper {
    height: 90px;
    display: flex;
    flex-direction: row;
    background: url("./assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    padding: 20px;
    @media (max-width: 1440px) {
      background-image: url("./assets/img/bg-small.jpg");
    }
  }
}

.logo {
  background-image: url("./assets/svg/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
  min-width: 50px;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.nav {
  margin-left: auto;
  overflow: hidden;
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: 1440px) {
      width: 620px;
      top: 0;
      right: calc(-620px);
      transition: 0.5s;
      width: 620px;
      padding: 134px 0 0 127px;
      height: 100%;
      align-items: flex-start;
      align-items: left;
      text-align: left;
    }
    &-show {
      transition: 0.5s;
      display: block;
      flex-direction: column;
      z-index: 100;
      background: $bg_dark;
      overflow: hidden;
      position: absolute;
      justify-content: start;

      right: 0px;

    }
  }

  &__link {
    padding: 0 15px;
    line-height: 50px;
    color: $white;
    &:hover {
      color: $gold;
    }
  }
}

.gold {
  color: $gold;
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
  margin-left: 20px;
  @media (max-width: 1440px) {
    margin-left: auto;
  }
}
.white {
  color: $white;
  margin-left: 10px;
}

.burger {
  display: none;
  z-index: 900;
  @media (max-width: 1440px) {
    width: 50px;
    margin-left: 20px;
    display: block;
    background: none;
    border: none;

  }
}

.burger .line{
  width: 50px;
  height: 5px;
  background-color: $white;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.burger:hover{
  cursor: pointer;
}


.burger.is-active .line:nth-child(2){
  opacity: 0;
}

.burger.is-active .line:nth-child(1){
  transform: translateY(13px) rotate(-135deg);
}

.burger.is-active .line:nth-child(3){
  transform: translateY(-13px) rotate(135deg);
}

.body-overflow{
  overflow: hidden;
}

.nav-bg{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
}
//header end

//hero section start
.hero {
  &__wrapper {
    background-image: url("./assets/img/bg.jpg");
    background-position: center -90px;
    background-repeat: no-repeat;
    padding: 160px 80px;
    height: 820px;
    @media (max-width: 1440px) {
      background-image: url("./assets/img/bg-small.jpg");
      height: 500px;
    }
  }
  &__text {
    width: 470px;
    margin: 10px 0 25px;
    @media (max-width: 1440px) {
      margin: 20px 0 60px;
    }
  }
}
//hero section end

//skills section start

.skills {
  margin-top: 100px;
  &__wrapper {
    padding: 0 20px;
  }
}
.skills-list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 300px;
    height: 300px;
    padding-top: 100px;
  }
  &__item:nth-child(1) {
    background-image: url("./assets/svg/camera.svg");
    background-size: 62px 50px;
  }

  &__item:nth-child(2) {
    background-image: url("./assets/svg/video.svg");
    background-size: 62px 50px;
  }
  &__item:nth-child(3) {
    background-image: url("./assets/svg/image.svg");
    background-size: 62px 50px;
  }
  &__item:nth-child(4) {
    background-image: url("./assets/svg/mic.svg");
    background-size: 62px 50px;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
  }
  &__subtitle {
    margin-top: 20px;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
  }
}

//skills section end

//portfolio section start
.portfolio {
  margin-top: 40px;
  &__wrapper {
    padding: 0 20px;
  }
}
.season-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  margin: 60px auto 0;
  width: 64%;
}

.button-transparent {
  border: 2px solid $gold;
  color: $gold;
  background-color: transparent;
  font-size: 20px;
  font-family: $inter;
  text-align: center;
  line-height: 40px;
  width: 220px;
  height: 55px;
  &:hover {
    color: $white;
    cursor: pointer;
    transition: 0.4s;
  }
}

.examples {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin: 60px auto 0;
}
//portfolio section end
//video section start
.video {
  padding-top: 100px;
}
.video-player {
  margin: 60px auto 0;
  width: 1400px;
  height: 705px;
  background-image: url("./assets/img/video-player.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1440px) {
    background-image: url("./assets/img/video-player-small.jpg");
    height: 418px;
    width: 768px;
  }
  &__button {
    background-image: url("./assets/svg/Play_hover.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 130px;
    height: 130px;
    &:hover {
      transition: 0.3s;
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
  }
}
//video section end

//price section start
.price {
  padding-top: 100px;
  &__wrapper {
    padding: 0 20px;
  }
}
.price-block {
  margin: 60px auto 0;
  display: flex;
  flex-direction: row;

  gap: 25px;
  &__item {
    height: 505px;
    width: 450px;
    border: 2px solid $gold;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media (max-width: 1440px) {
      width: 420px;
      margin: 0 auto;
    }
  }
  &__title {
    font-family: $merriweather;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__cost {
    margin: 20px 0;
    font-family: $merriweather;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: $gold;
  }
  &__option {
    font-family: $inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__list {
    margin-bottom: 40px;
  }
}
//price section end

//contact section start

.contact {
  padding-top: 100px;
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    height: 700px;
    display: flex;

    background-image: url("./assets/img/contacts.jpg");
    background-repeat: no-repeat;

    background-size: auto 700px;
    background-position: center center;
    padding: 20px;
    flex-direction: row;
    justify-content: flex-end;
    @media (max-width: 1440px) {
      background-image: url("./assets/img/contacts-small.jpg");
      height: 600px;
      width: 768px;
      justify-content: center;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px 0 0 0;
    @media (max-width: 1440px) {
      align-items: center;
    }
  }
  &__title {
    font-family: $merriweather;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: $gold;
    background-color: transparent;
    width: auto;
    margin: 0 0 40px 0;
    padding: 0;
  }
  &__input {
    width: 450px;
    height: 50px;
    border: 2px solid $gold;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 5px 20px;
    font-family: $inter;
    font-size: 20px;
    line-height: 40px;
    color: $gold;
    &::placeholder {
      font-family: inherit;
      color: $gold;
      font-size: 20px;
    }
  }
  &__textarea {
    width: 450px;
    height: 100px;
    border: 2px solid $gold;
    margin-bottom: 30px;
    background-color: transparent;
    padding: 5px 20px;
    font-family: $inter;
    font-size: 20px;
    line-height: 40px;
    color: $gold;
    resize: none;
    &::placeholder {
      font-family: inherit;
      color: $gold;
      font-size: 20px;
    }
  }
}
//contact section end

//footer start
.footer {
  &__wrapper {
    min-height: 150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    @media (max-width: 1440px) {
      flex-direction: column;
      margin: 28px 0;

      gap: 20px;
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  &__list > li {
    margin-right: 20px;
  }

  @media (max-width: 1440px) {
    // width: 768px;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  &__link {
    display: block;
    width: 40px;
    height: 40px;
    &:hover {
      filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg)
        brightness(92%) contrast(87%);
    }
  }
}

.social-facebook {
  background: url(./assets/svg/fb.svg) no-repeat center;
}

.social-instagram {
  background: url(./assets/svg/inst.svg) no-repeat center;
}
.social-pinterest {
  background: url(./assets/svg/pinterest.svg) no-repeat center;
}
.social-twitter {
  background: url(./assets/svg/tw.svg) no-repeat center;
}
//footer end

//media
@media (max-width: 1440px) {
  .skills-list {
    width: 728px;
    margin: 45px auto 0;
  }
  .season-block {
    flex-wrap: wrap;
    width: 445px;
  }
  .examples {
    justify-content: center;
    width: 445px;
  }
  .price-block {
    width: 450px;
    flex-wrap: wrap;
    gap: 50px;
  }
}


